USE [master]
--DROP DATABASE [LAB2]
GO
/****** Object:  Database [LAB2]    Script Date: 6/14/2022 3:09:06 PM ******/
CREATE DATABASE [LAB2]
 CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'LAB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LAB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'LAB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LAB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LAB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
--ALTER DATABASE [LAB2] SET DELAYED_DURABILITY = DISABLED 
--GO
--ALTER DATABASE [LAB2] SET ACCELERATED_DATABASE_RECOVERY = OFF  
--GO
EXEC sys.sp_db_vardecimal_storage_format N'LAB2', N'ON'
--GO
--ALTER DATABASE [LAB2] SET QUERY_STORE = OFF
GO
USE [LAB2]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 6/14/2022 3:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[Code] [varchar](10) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Major] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 6/14/2022 3:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Dob] [date] NOT NULL,
	[Major] [varchar](10) NOT NULL,
	[Scholarship] [float] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [LAB2]
--GO
--ALTER DATABASE [LAB2] SET  READ_WRITE 
GO
ALTER TABLE Student
ADD FOREIGN KEY (Major) REFERENCES Major(Code);
GO
INSERT INTO Major(Code,Title) values ('SE','Software Engineering')

GO 
INSERT INTO Student(Id, [Name], Gender, Dob, Major, Scholarship, Active) values ('HE151359',N'Đặng Việt Anh',1,'2001-07-04','SE',80,1)
INSERT INTO Student(Id, [Name], Gender, Dob, Major, Scholarship, Active) values ('HE153438',N'Kiều Thị Bích Nguyệt',1,'2001-08-21','SE',80,1)

